QWidget#centralwidget {
	background-color: white;
}

QPushButton {
    background-color: white;
    color: black;
}

QLabel {
    color: black;
}

QLineEdit {
    color: black;
}

QTextEdit {
    color: black;
}
