/* ===================================== Common ===================================== */

/* ------------------ QPushButton ------------------ */

QPushButton {
    background-color: #fd9d37;
    color: #263238;
	height: 35px;
	text-align: left;
	padding-left: 10px;
    padding-right: 10px;
}

/* ------------------ QComboBox ------------------ */

QComboBox {
	border: 1px solid #263238;
}

QComboBox::!editable {
	background-color: #fd9d37;
}

QComboBox::drop-down:!editable {
	background-color: #c1792d;
}

QComboBox QAbstractItemView {
	color: #263238;
	border: 1px solid #263238;
	background-color: #fd9d37;
}

QComboBox QAbstractItemView::item::selected {
	background-color: #5e60ab;
	color: #263238;
}

/* ------------------ QLabel ------------------ */

QLabel {
   color:#fd9d37;
}

/* ------------------ QLineEdit ------------------ */

QLineEdit {
    background-color:#fd9d37;
    color: #263238;
}

/* ------------------ QTextEdit ------------------ */

QTextEdit {
    background-color:#fd9d37;
    border-color: #5e60ab;
    color: #263238;
}

/* ------------------ QSpinBox ------------------ */

QDoubleSpinBox {
	background-color: #fd9d37;
	color: #263238;
	height: 35px;
	width: 100px;
	padding-left: 5px;
	padding-right: 5px;
}

QDoubleSpinBox::up-button {
	background-color: #fd9d37;
    subcontrol-position: center right;
    width: 20px;
	height: 35px;
}

QDoubleSpinBox::down-button {
	background-color: #fd9d37;
    subcontrol-position: center left;
    width: 20px;
	height: 35px;
}


QDoubleSpinBox::up-button:hover, QDoubleSpinBox::down-button:hover {
	background-color: #f8a751;
}

QDoubleSpinBox::up-button:pressed, QDoubleSpinBox::down-button:pressed {
	background-color: #f78001;
}

QDoubleSpinBox::up-arrow, QDoubleSpinBox::down-arrow {
    subcontrol-origin: content;
    width: 20px;
    height: 20px;
}

QDoubleSpinBox::up-arrow{
    image: url(:/icons/forward.png);
}

QDoubleSpinBox::down-arrow{
    image: url(:/icons/back.png);
}

/* ------------------ QScrollBar ------------------ */

QScrollBar:vertical {
    width: 15px;
	background-color: transparent;
}

QScrollBar::handle:vertical {
    background: #fd9d37;
	border: 1px solid #263238;
    min-height: 0px;
	margin-left: 1px;
	margin-right: 1px;
}

QScrollBar::add-line:vertical {
	background-color: transparent;
}

QScrollBar::sub-line:vertical {
	background-color: transparent;
}

QScrollBar::sub-page:vertical {
	background-color: transparent;
}

QScrollBar::add-page:vertical {
	background-color: transparent;
}

/* ------------------ QTableView ------------------ */

QTableView#notes_tableview {
	background-color: transparent;
	color: #fd9d37;
}

QTableView::item:selected#notes_tableview {
	background: #fd9d37;
	color: #263238;
}

QHeaderView::section {
    background-color: #f4a958;
    color: #263238;
    padding-left: 4px;
    border: 1px solid #6c6c6c;
}

/* ------------------ ListWidget ------------------ */

QListWidget {
	background-color: transparent;
	color: #f4a958;
}

QListWidget::item {
	background-color: #f5b878;
	color: #263238;
	border-color: #f4a958;
	margin-bottom: 5px;
	padding: 5px;
}

/* ------------------ ListView ------------------ */

QListView {
	background-color: transparent;
    border-color: transparent;
	color: #f4a958;
}

QListView::item {
	color: #263238;
	margin-bottom: 5px;
	padding: 5px;
    border-color: #f4a958;
    background-color: #f5b878;
}

QListView::item:selected {
	background: #f4a958;
	color: #263238;
}

/* ------------------  Slider ------------------  */

QSlider::groove:horizontal {
    border: 1px solid #f5b878;
    height: 20px;
    background: #f4a958;
    margin: 2px 0;
}

QSlider::handle:horizontal {
    background: #263238;
    border: 3px solid #f5b878;
    width: 30px;
    margin: -2px 0;
}

/* ===================================== MainWindow ===================================== */

QMainWindow#MainWindow {
	background-color: transparent;
}

QWidget#centralwidget {
	background-color: #5e60ab;
}
